<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Login
        link(rel="stylesheet", href="style.css")
        style
            include style.css
    body
        div(class="center")
            h1 Login
            if msg 
                p(style="color:#ff0;") #{msg}
            form(action="/login", method="post")
                div(class="txt_field")
                    div
                        label(for="id_user") User ID
                    div
                        input(type="text", name="id_user")
                    
                    div
                        label(for="user_password") Password
                    div
                        label(for="user_password")
                    div
                    input(type="password", name="user_password")
                    
                    div(style="margin-top:10px")
                        input(type="submit", value="Login")